build
dist / media
node_modules
.DS_Store
.env
payload.db
*.db
.next
next-env.d.ts
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Monorepo
apps/cms/.next/
apps/cms/payload.db
apps/*/node_modules/
packages/*/node_modules/
cdk/cdk.out/
cdk/cdk-outputs.json
cdk/dist/
